<!DOCTYPE html>
<html>

<head>
  <title>About</title>
</head>

<body>
  {{>header}}
  <div class="mt80 about-body flex">
    <img class="profile-pic " src="./assets/images/vidhya.jpeg" />
    <div class=" ml30">
      <p >Hello I am Vidhya. This site uses data from mapbox.com and weatherstack.com! </p>
      <p>GitHub Link: <a href="https://github.com/vidhya-balasubramanian/weather-application"
          target="_blank">https://github.com/vidhya-balasubramanian/weather-application</a></p>
      <p>Get more about me <a href="https://www.linkedin.com/in/vidhya-b-692a241b2" target="_blank">here</a></p>
    </div>
  </div>
  {{>footer}}
</body>

</html>