<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
  </head>
  <body>
    {{>header}}
    <div>
      <p style="text-align: center;" class="mt80">
        This site was created by Vidhya. It uses data from mapbox.com and weatherstack.com!
      </p>
    </div>
    {{>footer}}
  </body>
</html>