<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
  </head>
  <body>
    {{>header}}
    <div>
      <h4 style="text-align: center;">This is help page</h4>
    </div>
    {{>footer}}
  </body>
</html>