<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <div class="flex-container1 header">
      <h1>Weather</h1>
      <div class="header-right-links">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
      </div>
    </div>
  </body>
</html>

