<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
  </head>
  <body>
    {{>header}}
    <h1>{{title}}</h1>
    <form>
      <input placeholder="Location"/>
      <button>Search</button>
    </form>
    {{>footer}}
    
    <script src="/js/app.js"></script>
  </body>
</html>