.flex-container1 {
  display: flex;
  align-items: center;
  justify-content: space-between
}
body {
  margin: 0;
  font-family: arial;
}
.header {
  width: calc(100% - 120px);
  height: 60px;
  border-bottom: 1px solid lightgray;
  padding: 0 60px;
  background-color: #7952b3;
  color: #fff;
}
.header-right-links > a {
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}
.header-right-links > a:hover {
  text-decoration: underline;
}
.footer {
  position: fixed;
  width: calc(100% - 120px);
  height: 60px;
  border-top: 1px solid lightgray;
  padding: 0 60px;
  bottom: 0;
  background-color: #f8f9fa;
  color: #616161;
  font-size: 16px;
  font-style: italic;
}
.text-align-right {
  text-align: right;
}
.search-btn {
  color: #fff;
  background-color: #007bff;
  border: none;
  height: 34px;
  outline: none;
  width: 78px;
  margin-left: 10px;

}
.location-input {
  width: 80%;
  height: 30px;
  padding: 0 14px;
  font-size: 15px;
}
.weather-body, .about-body {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 80px;
}
.mt80 {
  margin-top: 80px;
}
.profile-pic {
  width: 150px;
}
.mt0 {
  margin-top: 0;
}
.flex {
  display: flex;
}
.ml30 {
  margin-left: 30px;
}
h1 {
  font-size: 20px;
}
p {
  font-size: 15px;
}